:root {
  --primary-main: #aedefc;
  --onSurface: #1b1717;
  --surface: white;

  --text-on-image: white;

  --black-alpha-100: rgba(0, 0, 0, 0.1);
  --black-alpha-500: rgba(0, 0, 0, 0.5);
  --black-alpha-700: rgba(0, 0, 0, 0.7);
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6, p, div, body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--onSurface);
  fill: var(--onSurface);
  background: var(--surface);
}

button {
  padding: 0;
  margin: 0;
  outline: none;
}

.mainHeader {
  padding: 80px;
  background-image: radial-gradient(
      var(--black-alpha-500),
      var(--black-alpha-700)
    ),
    url(https://images.unsplash.com/photo-1531914082256-1b9047242426?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.iconBox {
  gap: 4px;
}

.detailBox {
  margin-left: 16px;
  font-family: Montserrat, sans-serif;
  color: var(--text-on-image);
  fill: var(--text-on-image);
}

.header--container {
  margin-left: 8px;
}

.header--name {
  margin: 8px 0;
  font-weight: 600;
  font-size: 1.5rem;
}

.header--jobTitle {
  margin-bottom: 4px;
  font-weight: 100;
  font-size: 1.1rem;
}

/******************************************************/

/* start NavBar.tsx */
.navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  background: var(--surface);
}
/* end NavBar.tsx */

/* start Avatar.tsx */
.avatarImage {
  border-radius: 50%;
  border: 2px solid white;
}

.avatarImage.large {
  border-width: 5px;
}
/* end Avatar.tsx */

/* start Icon.tsx */
.iconWrapper {
  fill: inherit;
}

.iconWrapper > svg {
  height: inherit;
  width: inherit;
}

.iconWrapper > svg,
.iconWrapper > svg g,
.iconWrapper > svg path {
  fill: inherit;
}
/* end Icon.tsx */

/* start IconButton.tsx */
.iconButton {
  border-radius: 50%;
  padding: 8px;
  border: none;
  cursor: pointer;
  background: none;
}

.iconButton:hover,
.iconButton:focus {
  fill: var(--primary-main);
  background: var(--black-alpha-100);
}
/* end IconButton.tsx */
