:root {
  --primary-main: #00adb5;
  --onPrimary: white;

  --surface: white;
  --onSurface: #1b1717;
  --surfaceVariant: #eee;
  --onSurfaceVariant: #1b1717;
  --hoverHighlight: black;
  --hoverHighlightAlpha: rgba(0, 0, 0, 0.1);
  --surfaceBg: #ddd;
  --labelText: #999;

  --dark-surface: #222;
  --dark-onSurface: white;
  --dark-surfaceVariant: #333;
  --dark-onSurfaceVariant: white;
  --dark-hoverHighlight: white;
  --dark-hoverHighlightAlpha: rgba(255, 255, 255, 0.1);
  --dark-surfaceBg: black;
  --dark-labelText: #777;

  --text-on-image: white;

  --black-alpha-100: rgba(0, 0, 0, 0.1);
  --black-alpha-400: rgba(0, 0, 0, 0.4);
  --black-alpha-500: rgba(0, 0, 0, 0.5);
  --black-alpha-600: rgba(0, 0, 0, 0.6);
  --black-alpha-700: rgba(0, 0, 0, 0.7);

  --main-font: Montserrat, sans-serif;
}

body[theme="dark"] {
  --surface: var(--dark-surface);
  --onSurface: var(--dark-onSurface);
  --surfaceVariant: var(--dark-surfaceVariant);
  --onSurfaceVariant: var(--dark-onSurfaceVariant);
  --hoverHighlight: var(--dark-hoverHighlight);
  --hoverHighlightAlpha: var(--dark-hoverHighlightAlpha);
  --surfaceBg: var(--dark-surfaceBg);
  --labelText: var(--dark-labelText);
}

@media (prefers-color-scheme: dark) {
  body[theme="system"] {
    --surface: var(--dark-surface);
    --onSurface: var(--dark-onSurface);
    --surfaceVariant: var(--dark-surfaceVariant);
    --onSurfaceVariant: var(--dark-onSurfaceVariant);
    --hoverHighlight: var(--dark-hoverHighlight);
    --hoverHighlightAlpha: var(--dark-hoverHighlightAlpha);
    --surfaceBg: var(--dark-surfaceBg);
    --labelText: var(--dark-labelText);
  }
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6, p, div, body, hr, header, fieldset, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--onSurface);
  fill: var(--onSurface);
  background-color: var(--surfaceBg);
  font-family: var(--main-font);

  transition: color 200ms linear;
  transition: fill 200ms linear;
  transition: background-color 200ms linear;

  box-sizing: border-box;
}

img {
  user-select: none;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
}

.onImage {
  --hoverHighlight: white;
  color: var(--text-on-image);
  fill: var(--text-on-image);
  text-shadow: 2px 2px 4px black;
}

.mainHeader {
  padding: 25px;
  background-image: radial-gradient(var(--black-alpha-400), var(--black-alpha-600)),
    url(https://plus.unsplash.com/premium_photo-1661290409459-f06002ea077e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

.dashboardNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.navbarNameBox {
  line-height: 1.6;
  margin-left: 8px;
  transform: translate(0, -50px);
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1);
}

.navbarNameBoxShowing {
  transform: translate(0, 0);
}

.navbarName {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.009rem;
}

.navbarJobTitle {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.006rem;
}

.musicIcon {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: -20px;
  left: -20px;
  filter: drop-shadow(2px 2px 2px black);
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.iconBox {
  gap: 4px;
}

.detailBox {
  margin-left: 16px;
}

.header--container {
  margin-left: 8px;
}

.header--name {
  margin: 8px 0;
  font-weight: 400;
  font-size: 1.5rem;
}

.header--jobTitle {
  margin-bottom: 4px;
  font-weight: 100;
  font-size: 1.1rem;
}

/******************************************************/

/* start NavBar.tsx */
.navbar {
  height: 56px;
  width: 100%;
  position: fixed;
  background: var(--surface);
  z-index: 2;
  box-shadow: var(--black-alpha-100) 0 0 4px 4px;
  transition: background-color 200ms ease-out;
}

.navbarFloating {
  color: white;
  fill: white;
  background-color: transparent;
  box-shadow: none;
}
/* end NavBar.tsx */

/* start Avatar.tsx */
.avatarImage {
  border-radius: 50%;
  border: 2px solid white;
  user-select: none;
  object-fit: cover;
}

.avatarImage.large {
  border-width: 5px;
}
/* end Avatar.tsx */

/* start Icon.tsx */
.iconWrapper {
  fill: inherit;
}

.iconWrapper > svg {
  height: inherit;
  width: inherit;
}

.iconWrapper > svg,
.iconWrapper > svg g,
.iconWrapper > svg path {
  fill: inherit;
}
/* end Icon.tsx */

/* start IconButton.tsx */
.iconButton {
  border-radius: 50%;
  padding: 8px;
  border: none;
  cursor: pointer;
  background: none;
  position: relative;
  flex-shrink: 0;
  align-self: center;
}

.iconButton::before {
  content: "";
  display: inline-block;
  inset: 0;
  position: absolute;
  opacity: 0.1;
  border-radius: inherit;
  transform: scale(0);
  transition: transform 100ms ease-out;
}

.iconButton:hover::before,
.iconButton:focus-visible::before {
  background: var(--hoverHighlight);
  transform: scale(1);
}

.iconButton:active::before {
  opacity: 0.2;
}
/* end IconButton.tsx */

/* start Card.tsx */
.card {
  background-color: var(--surface);
  border-radius: 4px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
}
/* end Card.tsx */

/* start StravaActivity.tsx */
.stravaActivityMain {
  --stravaBrandColor: #fc4c02;
  font-weight: 400;
  width: 350px;
  position: relative;
  overflow: hidden;
}

.stravaActivityHeader {
  padding: 8px 8px 8px 16px;
}

@media (max-width: 600px) {
  .stravaActivityMain {
    width: 100%;
  }
}

.stravaShoeIcon {
  fill: var(--labelText);
  margin-right: 8px;
}

.stravaTopHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stravaViewLink {
  text-decoration: none;
  color: var(--stravaBrandColor);
  font-size: 0.8rem;
  display: inline-block;
}

.stravaActivityMain h5 {
  font-weight: inherit;
  font-size: 1.2rem;
  letter-spacing: 0rem;
  line-height: 1.334;
}

.stravaActivityMain h6 {
  font-weight: inherit;
  font-size: 0.75rem;
  letter-spacing: 0.006rem;
  line-height: 1.57;
}

.stravaMapContainer {
  position: relative;
}

.labelColor {
  color: var(--labelText);
}

.stravaActivityDetails {
  display: flex;
  gap: 16px;
  padding: 8px 16px;
}

.stravaActivityDetails h6 {
  font-weight: inherit;
  font-size: 0.875rem;
  letter-spacing: 0.009rem;
  line-height: 1.75;
}

.stravaFloatingDetails {
  position: absolute;
  bottom: 0;
  color: white;
  background-image: linear-gradient(to top, var(--black-alpha-400), transparent);
  width: 100%;
  text-shadow: 0 0 10px black;
  padding-top: 40px;
}

.stravaLogo {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  max-width: 100px;
  fill: white;
}

/* end StravaActivity.tsx */

/* start Divider.tsx */
hr {
  border-width: 0 0 thin 0;
  border-style: solid;
  border-color: var(--labelText);
  opacity: 0.3;
  width: 100%;
}

hr.vertical {
  border-width: 0 thin 0 0;
  margin: 8px 0;
  width: auto;
}
/* end Divider.tsx */

/* start ThemeSwitcher.tsx */
.themeWrapper {
  position: relative;
  place-self: center;
}

.themeMenu {
  position: absolute;
  left: -120px;
  top: 20px;
  border: none;
  color: var(--onSurface);
  fill: var(--onSurface);
  font-family: var(--main-font);
  overflow: hidden;
  z-index: 10;
}

.themeMenuVeil {
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
}

.themeMenuOption {
  display: flex;
  padding: 10px;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.themeInput {
  cursor: inherit;
}

.themeMenuOption:hover {
  background-color: var(--hoverHighlightAlpha);
}

.themeMenuOption :last-child {
  margin-left: auto;
}

.themeMenuRadio {
  margin-right: 8px;
}
/* end ThemeSwitcher.tsx */

/* start GitHubRecentRepos.tsx */
.githubRepos {
  max-width: 100%;
}

.githubHeaderContainer {
  gap: 8px;
  margin: 12px 0 0 12px;
}

.githubHeader {
  font-weight: 400;
  flex-shrink: 0;
}

.githubLanguageWrapper {
  margin-top: 8px;
}

.githubLanguageBubble {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 6px;
}

.repoHeaderContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}

.repoWrapper {
  padding: 12px;
  padding-top: 8px;
}

.githubLabelText {
  color: var(--labelText);
  font-size: 0.85rem;
  white-space: nowrap;
}

.githubUpdatedAt {
  margin: 4px 0;
}

.repoLink {
  text-decoration: none;
  font-weight: 500;
  color: var(--primary-main);
  font-size: 1rem;
}

.repoDescription {
  font-size: 0.8rem;
  padding: 4px 0;
  word-wrap: break-word;
}

.githubChipBox {
  position: relative;
  overflow-x: hidden;
  margin-top: 4px;
}

.githubChipBoxInner {
  display: flex;
  gap: 4px;
  transition: transform 200ms ease-out;
}

.githubChip {
  text-decoration: none;
  background-color: var(--surfaceVariant);
  color: var(--onSurfaceVariant);
  padding: 11px 12px;
  border-radius: 20px;
  font-size: 0.7rem;
  white-space: nowrap;
  max-width: 100px;
  min-width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  flex-shrink: 0;
  word-wrap: normal;
  position: relative;
}

.githubChip::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--hoverHighlight);
  opacity: 0;
}

.githubChip:hover::before {
  opacity: 0.1;
}

.githubChipsLeftWrapper {
  position: absolute;
  background-image: linear-gradient(to right, var(--surface) 60%, transparent);
  width: fit-content;
  padding-right: 30px;
  top: 0;
  z-index: 2;
}

.githubChipsRightWrapper {
  position: absolute;
  background-image: linear-gradient(to left, var(--surface) 60%, transparent);
  width: fit-content;
  padding-left: 30px;
  right: 0;
  top: 0;
}

@media (pointer: coarse) {
  .githubChipsLeftWrapper,
  .githubChipsRightWrapper {
    display: none;
  }

  .githubChipBox {
    overflow-x: scroll;
  }
}
/* end GitHubRecentRepos.tsx */
